<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kalhan.stockmarkettracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/app_icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name="com.example.kalhan.stockmarkettracker.StockSearchActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.kalhan.stockmarkettracker.StockDetailsActivity"
            android:label="@string/title_activity_stock_details"
            android:parentActivityName="com.example.kalhan.stockmarkettracker.StockSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>